<ion-header>
  <ion-toolbar>
    <ion-title>Hub page</ion-title>
    <ion-toggle color="secondary" (ionChange)="toggleAdmin()" slot="end"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="buttonStack" style="padding-top: 3em">
    <h2 style="text-align: center">Welcome to the Hub</h2>
    <div style="padding-top: 1em">
      <ion-button expand="block" [routerLink]="'/user-devices'">See my devices</ion-button>
      <ion-button [hidden]="!isAdmin" expand="block" [routerLink]="'/list-users'" color="secondary">List users</ion-button>    
      <ion-button [hidden]="!isAdmin" expand="block" [routerLink]="'/associate-devices'" color="secondary">Add devices to user</ion-button>   
    </div>
  </div>
</ion-content>
